<!DOCTYPE html>
<html manifest='cache.manifest'>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="viewport" content="width=device-width, user-scalable=no" />
<link rel="apple-touch-icon" href="apple-touch-icon.png"/>
<link rel="stylesheet" type="text/css" href="game.css" />
<script type="text/javascript" src="jquery.min.js"></script>
<script type="text/javascript" src="font.js"></script>
<script type="text/javascript" src="game.js"></script>
<script type="text/javascript" src="words.js"></script>
<title>Scriqqle</title>
</head>
<body>
<!-- High scoring words:
  LOBOTOMIZED   (264)
  EXTERMINATED  (252)
  PTERODACTYL   (209)
  CHOCOLATEY    (200)
  -->
<h1>Scriqqle</h1>
<div id="game" style="display:none;">
  <div id="play_area">LOADING...</div>
  <div id="scores">
    <div id="score" class="counter">
      <span class="tooltip">
        Total
      </span>
      <span class="value"></span>
    </div>
    <div id="timer" class="counter">
      <span class="value"></span>
    </div>
    <div id="high_score" class="counter">
      <span class="tooltip">
        High Score
      </span>
      <span class="value"></span>
    </div>
    <div id="word_count" class="counter">
      <span class="value"></span>
      <span class="tooltip">
        Words
      </span>
    </div>
    <div id="word" class="grey_div">
      <span class="text"></span><span class="score"></span>
    </div>
  </div>
  <div id="history"></div>
</div>

</body></html>
